@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');
  
    .a-glow {
        font-family: 'Hack';
    }
.center {
  display: flex;
  min-height: 0vh;
  height: 100%;
 justify-content: Center;
 align-items: Center;
 flex-direction: column;
}

.a-glow {


  width: 250px;
 
} 

.a-glow:focus {outline: none;}

.a-glow {
    background-color: #000000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #fff018;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hack';
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.a-glow:hover {
    background-color: #004A7F;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Hack';
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}


small {
  margin-top: 25px;
  color: #c1c1c1;
}